<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="utf-8">
    <title id="title"> <%= title %> | Hiikey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Ajax-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

   <!-- Stripe SDK   <script type="text/javascript" src="https://js.stripe.com/v2/"></script>  -->

    <!-- <script type="text/javascript" src="https://js.stripe.com/v2/"></script> -->

    <script src="https://checkout.stripe.com/checkout.js"></script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                document,'script','https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '643088589176557');
        fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=643088589176557&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Custom styles for this template
    <link href="navbar.css" rel="stylesheet"> -->
</head>
<body>
<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a  id="log" href="/events/auth/facebook" class="btn btn-default navbar-brand"><%=logButton%></a>
            <p class="navbar-brand"><%=user%></p>

        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class=" btn-sm btn-default nav navbar-nav">
                <li><a href="/profile">Your Tickets</a></li>
            </ul>

        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

<div class="page-header">
    <div class="container-fluid">
        <h1><%= title %><small> <%= date %></small></h1>
        <h6><%= description %></h6>
    </div>
</div>

<div class="col-md-8">
    <img src=<%= image %> class="img-thumbnail" alt="Responsive image">
</div>
<div class="page-header">
    <div class="container-fluid">
        <div class="row">
            <div class= "col-md-4">
                <h4>Tickets</h4>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>$ Price</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>

                    <tbody>

                    <% for(var i=0; i < data.length; i++) { %>
                    <tr>
                        <td id= <%= data[i].nameId %>  ><%= data[i].name %></td>
                        <td id= <%= data[i].priceId %> ><%= data[i].price %> </td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <input type="button" class= "btn-sm btn-default disabled" id= <%= data[i].id %> value="0" />
                                <input type="Button" class="btn-sm btn-danger" id= <%= data[i].minusButton %>  value="-"/>
                                <input type="Button" class="btn-sm btn-success" id= <%= data[i].addButton %> value="+"/>
                            </div>
                        </td>
                    </tr>
                    <% } %>

                    </tbody>
                </table>

                <%if (data[0].raffle == true) {%>

                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon1">referrer</span>
                    <input id="promo" placeholder="email/username" type="text" class="form-control" aria-label="...">
                    <div class="input-group-btn">
                        <!-- Buttons -->
                        <button id="checkPromo" class="btn btn-default">check</button>
                    </div>
                </div>

                <div class="alert alert-warning fade in" id="promo-error" style="display:none;">
                    <button type="button" class="close">×</button>
                    Couldn't find your referrer.
                </div>

                <div class="alert alert-success" id="promo-success" style="display:none;">
                    1 free raffle ticket will be added to your purchase!
                </div>

                <% }%>

                <div class="alert alert-info fade in" id="login-error" style="display:none;" >
                    <button type="button" class="close">×</button>
                    Login Before Purchase
                </div>

                <div class="alert alert-warning fade in" id="quan-error" style="display:none;">
                    <button type="button" class="close">×</button>
                    Choose Quantity
                </div>

                <div class="alert alert-success fade in" id="success-alert" style="display:none;">
                    Tickets Acquired, checkout out the Hiikey app on the app store!
                    <button id="goTickets" type="button" class="btn-sm"> Your Tickets  </button>
                </div>

                <div id="progress-bar" class="progress" hidden>
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">45% Complete</span>
                    </div>
                </div>

                <a  href="#" id= "pay" class="btn btn-default "><span class="fa fa-twitter"></span><%=status%></a>

                <h6 id= "checkTickets" class="icon-bar"  ><%=loginUrl%></h6>

                <script >

                    document.getElementById("checkTickets").style.visibility = "hidden";

                    var message = "Only one ticket per Hiikey user can be acquired through the website.";

                    function yoma() {
                        window.location = ("/profile");
                    }
                    /*$('#goTickets').on('click', function(e) {
                     window.location = ("/profile");
                     });*/

                    $('.alert .close').on('click', function(e) {
                        $(this).parent().hide();
                    });

                    var ticketQuantity;
                    var ticketName;
                    var isReferred = false;
                    var promo = $('#promo');

                    $('#checkPromo').on('click', function () {
                        if (promo.val() != ""){

                            //alert( $('#promo').val());
                            var rawPromo = promo.val();
                            var cleanPromo = rawPromo.toLowerCase();

                            var checkPromo = $.get('/events/checkPromo', {
                                user: cleanPromo
                            });

                            checkPromo.done(function(data){
                                //post jaunt to update database

                                isReferred = data;

                                if (isReferred == false){
                                    $('#promo-success').hide();
                                    $('#promo-error').show();
                                } else {
                                    $('#promo-error').hide();
                                    $('#promo-success').show();
                                }

                                //window.location = ("/profile");
                            });
                        }
                    });

                    function changeQuantity(quan, addButton, minusButton) {
                        var counter = quan.val();

                        addButton.click(function () {
                            if (counter < 1) {
                                counter++;
                                quan.prop('value', counter);
                            }
                        });

                        minusButton.click(function () {
                            if (counter > 0) {
                                counter -= 1;
                                quan.prop('value', counter);
                            }
                        });
                    }

                    //Access-Control-Allow-Origin: http://foo.example                }

                    changeQuantity($('#0'),$('#addButton0'),$('#minusButton0'));
                    changeQuantity($('#1'),$('#addButton1'),$('#minusButton1'));
                    changeQuantity($('#2'),$('#addButton2'),$('#minusButton2'));

                    // Define handler to be called when Stripe returns a card token
                    function onReceiveToken(token, args) {

                        $('#progress-bar').show();

                        var getMerchant = $.get('/events/getMerchant', {
                            isRaffle: isReferred
                        });

                        getMerchant.done(function(merchant){

                            var totalPrice = getTotal();
                            var app_fee = 0;

                            if (isReferred == true){
                                app_fee = .70 *100
                            }

                            var buyTickets = $.post('/payments/buyTickets', {
                                stripeToken: token.id,
                                amount: totalPrice  * 100,
                                destination: merchant,
                                description: getQuantity() + " Ticket(s) Purchase for" + $('#title').text(),
                                receipt_email: token.email,
                                application_fee: app_fee
                            });

                            buyTickets.done(function(data){

                                var updateTickets = $.post('/events/updateTickets', {
                                    ticketQuantity: ticketQuantity,
                                    purchase: data.id
                                });

                                updateTickets.done(function(data){
                                    //post jaunt to update database
                                    $('#progress-bar').hide();
                                    $('#success-alert').html(data +'<button onclick="yoma()" id="goTickets" type="button" class="btn-sm">Your Tickets</button> ')
                                    $('#success-alert').show();

                                    //window.location = ("/profile");
                                });

                                // alert( "Data Loaded: " + data.id );
                            });
                        });
                    }

                    // Configure Checkout

                    // Open Checkout when the link is clicked
                    $('#pay').on('click', function() {

                        //ticketQuantity = [$('#0').val(), $('#1').val(), $('#2').val()];

                        var totalPrice = getTotal() ;

                        if (isReferred == true){
                            if ($('#1').val() == null){
                                ticketQuantity = [parseInt($('#0').val()) + 1, 0, 0];
                            } else if ($('#2').val() == null) {
                                ticketQuantity = [parseInt($('#0').val()) + 1, $('#1').val(), 0];
                            } else {
                                ticketQuantity = [parseInt($('#0').val()) + 1, $('#1').val(), $('#2').val()];
                            }
                        } else{
                            if ($('#1').val() == null){
                                ticketQuantity = [$('#0').val(), 0, 0];
                            } else if ($('#2').val() == null) {
                                ticketQuantity = [$('#0').val(), $('#1').val(), 0];
                            } else {
                                ticketQuantity = [$('#0').val(), $('#1').val(), $('#2').val()];
                            }
                        }



                        /*ticketQuantity = [$('#0').val(), $('#1').val(), $('#2').val()];
                         //ticketName = [$('#name0').text(), $('#name1').text(), $('#name2').text()];

                         totalPriceWithFees = totalPrice + (totalPrice * .029) + .30 ;

                         var checkout = StripeCheckout.configure({
                         key: 'pk_test_wMPl893ju7D1tv3DUO6CRCBh',
                         token: onReceiveToken,
                         amount: totalPriceWithFees * 100 ,
                         name: "Payment Information" ,
                         description: "Credit card processing fee: ",
                         zipCode: "true",
                         allowRememberMe: false,
                         locale: 'auto'
                         });

                         checkout.open();*/

                        if ($('#pay').text() == "Login before purchase"){
                            // alert("Please Login before purchase.");
                            $('#login-error').show();

                        } else if (getQuantity() == 0){
                            //alert("Please choose quantity before checkout.");
                            $('#quan-error').show();

                        } else if(totalPrice == 0){

                            //alert( "Good luck! If you won, we will contact you Thursday May 12th by email from hiikeyteam@gmail.com.");
                            var updateTickets = $.post('/events/updateTickets', {
                                ticketQuantity: ticketQuantity,
                                purchase: "free"
                            });

                            updateTickets.done(function(data){
                                //post jaunt to update database
                                $('#success-alert').html(data +'<button onclick="yoma()" id="goTickets" type="button" class="btn-sm">Your Tickets</button> ')
                                $('#success-alert').show();
                            });

                        }  else if($('#checkTickets').text() == "true"){
                            $('#success-alert').html(message +'<button onclick="yoma()" id="goTickets" type="button" class="btn-sm">Your Tickets</button> ')
                            $('#success-alert').show();
                        } else {

                            //ticketName = [$('#name0').text(), $('#name1').text(), $('#name2').text()];

                            totalPriceWithFees = totalPrice + (totalPrice * .029) + .30 ;

                            var checkout = StripeCheckout.configure({
                                key: 'pk_live_JqdjZ93F9j7RWqPd2EelHSRX',
                                //key: 'pk_test_wMPl893ju7D1tv3DUO6CRCBh',
                                token: onReceiveToken,
                                amount: totalPrice * 100 ,
                                name: "Checkout" ,
                                description: getQuantity() +  " Ticket(s)",
                                zipCode: "true",
                                allowRememberMe: false,
                                locale: 'auto'
                            });
                            checkout.open();
                        }
                        return false;
                    });

                    if ($('#log').text() == "Sign out") {
                        //alert('yo');
                        $('#log').attr("href", "/events/logout");
                    }

                    function getTicketQuantity(){
                        var ticketQuantity = [];

                        if(isReferred == true){
                            ticketQuantity[0] = parseInt($('#0').val()) + 1;
                        } else{
                            ticketQuantity[0] = $('#0').val();
                        }

                        if ($('#1').val() == null){
                            ticketQuantity[1] = $('#1').val()
                        } else{
                            ticketQuantity[1] = 0
                        }

                        if ($('#2').val() == null){
                            ticketQuantity[2] = $('#2').val()
                        } else{
                            ticketQuantity[2] = 0
                        }

                        return ticketQuantity
                    }

                    function getTotal() {

                        var subTotal1;
                        var subTotal2;

                        var subTotal = $('#0').val() * $('#price0').text();

                        if ($('#1').val() == null){
                             subTotal1 = 0;
                        } else {
                             subTotal1 = $('#1').val() * $('#price1').text();
                        }

                        if ($('#2').val() == null){
                            subTotal2 = 0;
                        } else {
                            subTotal2 = $('#2').val() * $('#price2').text();
                        }

                        return subTotal + subTotal1 + subTotal2
                    }

                    function getQuantity(){

                        var quan1;
                        var quan2;

                        var quan = $('#0').val();

                        if (quan != 0){
                            quan = parseInt(quan) + 1;
                        }

                        var totesAfterReferral;

                        if ($('#1').val() == null){
                            quan1 = 0;
                        } else{
                            quan1 = $('#1').val();
                        }

                        if ($('#2').val() == null){
                            quan2 = 0;
                        } else{
                            quan2 = $('#2').val();
                        }

                        if (isReferred == true){
                            totesAfterReferral = parseInt(quan) + parseInt(quan1) + parseInt(quan2);
                        } else{
                            totesAfterReferral = parseInt(quan) + parseInt(quan1) + parseInt(quan2);
                        }

                        //return quan + quan1 + quan2
                        return totesAfterReferral
                    }

                    //put in label that shows the total before they decide to checkout

                </script>
            </div>
        </div>
    </div>
</div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68774707-1', 'auto');
    ga('send', 'pageview');

</script>

<div class="navbar-header" >
    <div class="container-fluid">
        <a class="btn-default" href="https://itunes.apple.com/us/app/hiikey/id1013280340?ls=1&mt=8">
            <img href="" src="images/appstoreButton.png" class="img-responsive" alt="Available on The App Store" width="110" height="22">
        </a>
        <a class=" btn btn-lg navbar-text" href="/terms">Terms</a>
        <h6>© SocialGroupe, Inc. </h6>
    </div>
</div>

</body>
</html>