<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title id="title"> <%= title %> | Hiikey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Ajax-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                document,'script','https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '643088589176557');
        fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=643088589176557&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Custom styles for this template
    <link href="navbar.css" rel="stylesheet"> -->

</head>
<body>

<div class="container-fluid">
    <h1><%= title %></h1>
    <h4>By <%= user%> - <small><%= description %>  </small></h4>
    <h4> Date - <small> <%= startDate %> - <%= endDate %> </small></h4>
    <a href="#" class="thumbnail">
        <img src= <%= image %> alt="...">
    </a>
    <h4>event code: <span class="label label-danger"><%=eventCode%></span> </h4>

    <ul class="nav nav-tabs">
        <li role="presentation" ><a href="#">Location</a></li>
        <li id="messages" role="presentation" class="active"><a>Messages</a></li>
        <li is="rsvps" role="presentation"><a href="#">RSVPs</a></li>
    </ul>
</div>

<!-- Messages -->



<div class="page-header">
    <% for (var i = 0; i <= data.length  ; i++ ) { %>
    <div class="container-fluid">
        <div class="media">
            <div class="media-left">
                <img class="media-object" src= <%= data[i].image %> alt="..." width="64" height="64">
            </div>
            <div class="media-body">
                <h4 class="media-heading"> <%= data[i].name %> <small> <%= data[i].createdAt %> </small></h4>
                    <%= data[i].description %>
            </div>
        </div>
    </div>

    <% }%>
</div>


<!--- End Messages -->
<ul class="pager navbar-fixed-bottom">
    <li><a href="https://itunes.apple.com/us/app/hiikey/id1013280340?ls=1&mt=8">Open in app</a> </li>
</ul>

</br>
<ol class="breadcrumb">
    <li><a href="/about">ABOUT</a></li>
    <li><a href="/terms">TERMS</a></li>
    <p class="navbar-text navbar-right"> © 2017 SocialGroupe, Inc. </p>
</ol>
</br>

<script>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68774707-1', 'auto');
    ga('send', 'pageview');

</script>

<!--<div class="navbar-header" >
    <div class="container-fluid">
        <a class=" btn btn-lg navbar-text" href="/terms">Terms & Privacy Policy</a>
        <h6>© SocialGroupe, Inc. </h6>
    </div>
</div> -->

</body>
</html>