<!DOCTYPE html>
<html lang ="en">
<head>
    <title> <%=user%> | Hiikey </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!--Ajax -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

</head>

<body>

<nav class="navbar navbar-default ">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text"><%=user%></p>
            <!--<img src="images/logo.jpg" alt="Profile Image" class="img-thumbnail" width="25" height="25"> -->
            <a href="profile/auth/facebook"  id="loginButton" class="btn btn-primary navbar-btn"><span class="fa fa-twitter"></span><%=logButton%></a>
        </div>
    </div>
</nav>

<div class="page-header">
    <div class="container-fluid">
        <h1> Your ticket for every event.</h1>
        <img src="https://api.qrserver.com/v1/create-qr-code/?size=1024x1024&data=<%=userId%>" alt="Failed to load, enter code manually." class="img-thumbnail">
        <h3><%=userId%></h3>
        <h2>Attending</h2>
        <script>

            var eventArray = [];
            var dateArray = [];
            var eventNumber;

            if ($('#loginButton').text() == "Sign out") {
                //alert('yo');
                $('#loginButton').attr("href", "/profile/logout");
            }

        </script>
        <ul class="list-unstyled">
            <% for (var i = 0; i < data.length ; i++ ){ %>

            <li> <h3> <%=data[i].title%> <small> <%=data[i].date%> </small> </h3> </li>

            <% } %>
        </ul>

    </div>

</div>

<div class="navbar-header" >
    <div class="container-fluid">

        <a class="btn-default" href="https://itunes.apple.com/us/app/hiikey/id1013280340?ls=1&mt=8">
            <img href="" src="images/appstoreButton.png" class="img-responsive" alt="Available on The App Store" width="110" height="22">
        </a>
        <a class=" btn btn-lg navbar-text" href="/terms">Terms</a>
        <h6>© SocialGroupe, Inc. </h6>
    </div>
</div>

</body>

</html>